@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.css-button-arrow--blue {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #3d348b;
  }
  .css-button-arrow--blue:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
  }
  .css-button-arrow--blue:hover:after {
    opacity: 1;
    right: 10px;
  }
  .css-button-arrow--blue:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }


  .css-button-sliding-to-left--blue {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #2c0b8e;
    color: #2c0b8e;
  }
  .css-button-sliding-to-left--blue:hover {
    color: #fff;
  }
  .css-button-sliding-to-left--blue:hover:after {
    width: 100%;
  }
  .css-button-sliding-to-left--blue:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #2c0b8e;
  } */